html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  margin: auto;
  font-family: Arial;
  font-size: 120%;
  background-color: blue;
}

header {
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background-color: lightcoral;
}

.container {
  flex: 1 0 auto;
  background-color: #FFFFCC;
  overflow: auto;
}

.first {
  width: 60%;
}

.second {
  width: 40%;
}

.column {
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
