html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  font-family: Arial;
  font-size: 120%;
  width: 80vw;
}

header {
  background-color: lightblue;
  text-align: center;
}

footer {
  background-color: lightcoral;
  flex-shrink: 0;
  text-align: center;
}

.column {
  box-sizing: border-box;
  float: left;
  padding: 10px;
}

.container {
  flex: 1 0 auto;
  overflow: auto;
}

.first {
  background-color: lightgreen;
  width: 60%;
}

.second {
  background-color: lightgray;
  width: 40%;
}
