.action {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(55, 65, 55, 0), rgba(55, 65, 55, 0.5) 95%), url("footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  color: #E5E4E2;
  padding: 60px;
}

.action-image {
  width: auto;
  height: 300px;
}

.action .title-large {
  font-size: 36px;
}
