body {
  font-family: 'EB Garamond', serif;
  font-family: 'Merriweather', serif;
}
.wrapper {
  width: 500px;
}
.card {
  background: #696969;
  color: white;
  margin: 1.5em 15px;
  padding: 15px;
}
.card:after {
  content: '';
  display: block;
  clear: both;
}
.card-image {
  float: left;
  max-width: 150px;
  margin-right: 15px;
}
.card-title {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
  margin-bottom: .8em;
}
.card-text {
  font-family: 'Merriweather', serif;
  padding-left: 165px;
}
